.Modal{
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    justify-content: center;

}


.Modal_Body {
    position: relative;
    z-index: 100;
    display: block;
    padding: 15px;
    background: #FFF;
    width:300px;
    height: 250px;
    background-color: rgb(217, 230, 242, 0.7);
    text-align: center;
    border-radius: 10px;
    margin: 250px auto 0 auto


}

.modal-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-text{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    width: 250px;
    height:45px;
    font-size: 16px;
    margin-bottom: 25px;
    border-color: #ffffff;
    border-radius: 4px;
    padding-left: 10px;
}


.dws-submint {
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #c6211f;
    border: none;
    cursor: pointer;

}

.dws-submint:hover{
    transition: all 0.2s;
    background: #f72d29;
    box-shadow: #8a0c0c;

}



.dws-input input:hover{
    box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}


.close{
    width: 0 px;
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 28px;
    cursor: pointer

}







