

.slider {
    position: relative;
    padding: 20px 90px;

}


.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -30px 50px 0px 50px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 0px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('../img/Vector2.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url('../img/Vector1.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
    opacity: 0.2;
}




.slick-dots li button:before{
    font-size: 10px;
}

.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;


}
.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;

}
.slider .slick-dots button{
    font-size: 20px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid #fff;

}


.slider__item {
    padding: 0px 15px;
    height: 600px;


}
.slider__item img{
    max-width: 100%;

}


@media screen and (max-width: 768px){
    .slider .slick-arrow.slick-prev{
        left: 0;
        background: url('../img/Vector2.svg') 0 0 / 70% no-repeat;
    }
    .slider .slick-arrow.slick-next{
        right: 0;
        background: url('../img/Vector1.svg') 0 0 / 70% no-repeat;
    }
    .slider__item {
        padding: 0px 15px;
        height: 400px;
    }

    .slider .slick-arrow {
        position: absolute;
        top: 50%;
        margin: -30px 50px 0px 50px;
        z-index: 10;
        font-size: 0;
        width: 30px;
        height: 60px;
    }
}

@media screen and (max-width: 375px){
    .slider .slick-arrow.slick-prev{
        left: 0;
        background: url('../img/Vector2.svg') 0 0 / 70% no-repeat;
    }
    .slider .slick-arrow.slick-next{
        right: 0;
        background: url('../img/Vector1.svg') 0 0 / 70% no-repeat;
    }
    .slider__item {
        padding: 0px 15px;
        height: 100px;

    }

    .slider .slick-arrow {
        position: absolute;
        top: 50%;
        margin: 25px 50px 0px 50px;
        z-index: 10;
        font-size: 0;
        width: 20px;
        height: 60px;

   }

