/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
    url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



*{
    outline: none;
    margin: 0;
    padding: 0;

}

body{
    font-family: "lato";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
}



img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}




.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: .2s linear;
    padding-bottom: 20px;

}
.header_fone{
    /*background-color: #102746;*/
    background: rgb(16,39,70);
    background: radial-gradient(circle, rgba(16,39,70,0.7567401960784313) 100%, rgba(16,39,70,1) 100%);

}

/*Navigation*/

.header-wrapper{
    display: flex;
    padding-top: 56px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;


}

.header_list{
    display: flex;
    flex-wrap: wrap;
}

.header_item{
    position: static;
    margin-right: 82px ;

}
.header_link{
    font-family: Lato;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;;
    text-decoration: none;
}
ul {
    list-style: none;
}

.header_link:hover, .header_link:focus, .header_link:active{
    opacity: .55;
}

.header-adaptive{
    width: 40px;
    height: 28px;
    position: relative;
    display: none;
}

.adapt-menu{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
}

.adapt-menu1{
    top: 0;

}

.adapt-menu2{
    top: 50%;
    transform: translateY(-50%);
}

.adapt-menu3{
    bottom: 0;
}
/*section start*/
.start{
    height: 100vh;
    background: url(../img/image-start.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-left: 191px;
    

}

.title{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 619px;
    margin-bottom: 22px ;
}

.title2{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 546px;
    margin-bottom: 59px;
}

fieldset{
    border:0 none;
}

.search-input{
    display: flex;
    flex-wrap: wrap;
}

.search-input1{
    background: url(../img/Oval.svg) no-repeat left 5px;
    background-size: 20px;
    border: none;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 61px;
    width: 297px;
    padding-left: 40px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}
.search-input1::placeholder{
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}
.search-button {
    padding: 15px 39px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #1B7DFF;
    border: 0;
}
.search-button:hover, .search-button:focus, .search-button:active {
    background: #285fa9;
    transition-duration: 0.2s;
    cursor: pointer


}
/*benefits*/
.benefits{
    margin-bottom: 137px;
}


.benefits-wraper{
    max-width: 1262px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;

}
.title-benefits{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #FFFFFF;
    width: 1062px;

}

.theme-benefits{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.theme-benefits{
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits-icons{
    margin-bottom: 37px;
    max-width: 66px;
}

.benefits-title{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits-text{
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits-more{
    display: inline-block;
    padding-right: 59px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url("../img/shape.svg") no-repeat 85% center;
    transition: .2s all;
}

.benefits-more:hover, .benefits-more:focus{
    background: url("../img/shape.svg") no-repeat right center;
}


/*Get inspired*/
.info-inspired{
margin-bottom: 131px;
}

.info-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.info-title::after{
    display: block;
    content: "";
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}


.info-title-full{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.info-title{
    margin-right: 15px;
}



.info-view-all{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url("../img/shape.svg") no-repeat 85% center;
    transition: .2s all;
}

.info-view-all:hover, .info-view-all:focus {
    background: url("../img/shape.svg") no-repeat right center;
}

.info-baners{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.info-baner{
    position: relative;
}

.info-baner::before{
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.baner-title{
    margin: 0;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.info-baner-size{
    grid-column:span 3;
}

.info-baner-litle{
    grid-column: span 2;
}

.baner-picture{
    width: 100%;
}

.baner-picture-big{
    height: 354px;
    object-fit: cover;
}

.baner-picture-litle{
    height: 283px;
    object-fit: cover;
}

.baner-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

}

.baner-link:hover, .baner-link:focus, .baner-link:active{
    background: rgba(21, 24, 36, 0.4);
    transition-duration: 0.2s;
}



/*Tours*/
.tours{
    margin-bottom: 139px;
}

.tours-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 108px;
    align-items: center;
    margin-bottom: 80px;
}

.info-tours{
    padding-left: 50px;
}

.tour-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #102746;
    margin-bottom: 85px;

}

.tour-text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 58px;
}

.tour-link{
    display: inline-block;
    padding-right: 59px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url("../img/shape.svg") no-repeat 95% center;
    transition: .2s all;
}

.tour-link:hover, .tour-link:focus{
    background: url("../img/shape.svg") no-repeat right center;
}


/*Today_Top*/
.today-top{
    margin-bottom: 86px;
}

.today-top-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.today-top-title::after{
    display: block;
    content: "";
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

.today-top-title{
    margin-bottom: 54px;
}

.today-baners{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 57px;
    grid-row-gap: 57px;
}

.today-top-picture{
    position: relative;
    margin-bottom: 45px;
}

.today-top-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(21, 24, 36, 0.6);

}

.title-top-info{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 16px 25px;
    margin: 0 auto 0 0;

}

.likes-top-info{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 20px;
    background: url(../img/heards.svg) no-repeat right;
    margin-right: 24px;
}

.comments-top-info{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 23px;
    background: url(../img/comment.svg) no-repeat right;
    margin-right: 24px;
}

.today-top-text{
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 31px;
}

.today-top-buttons {
    padding: 12px 19px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    background: #1B7DFF;
    border: 0;
}
.today-top-buttons:hover, .today-top-buttons:focus, .today-top-buttons:active {
    background: #285fa9;
    transition-duration: 0.2s;
    cursor: pointer

}



/*VIDEO*/

.video{
    width: 100%;
}

.video-wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video-item{
    padding-top: 50%;
}

.video-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*footer*/


.footer{
    background: #0E1D28;
    padding: 119px 0;
}

.footer-wrap{
    display: flex;
    flex-wrap: wrap;

}

.footer-logo{
    width: 50%;

}

.footer-navig{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;

}

.fot-menu-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.fot-menu-link{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.fot-menu-link:hover, .fot-menu-link:focus, .fot-menu-link:active{
    opacity: .55;
}







/*Adaptive*/
@media screen and (max-width: 960px){
    .search-input1 {
        margin-bottom: 30px;
    }

    .theme-benefits{
        padding: 0 30px;
        grid-column-gap: 10px;
    }

    .title-benefits{
        padding: 55px 30px;
    }

    .info-baner-size{
        grid-column: span 6;
    }
    .info-baner-litle{
        grid-column: span 6;
    }

    .tours-wrap{
        grid-column-gap: 35px;
    }
    .info-tours{
        padding: 0;
    }

    .tour-title{
        margin-bottom: 20px;
    }

    .tour-text{
        margin-bottom: 20px;
    }

    .today-baners{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 57px;
        grid-row-gap: 57px;
    }
    .today-baner{
        grid-column: span 3;
    }

    .footer{
        padding: 65px 0;
    }

}


@media screen and (max-width: 768px){
    .header-adaptive{
        display: block;
    }
    .header_menu{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        /*background-color: #102746;*/
        background: rgb(16,39,70);
        background: radial-gradient(circle, rgba(16,39,70,0.908000700280112) 100%, rgba(16,39,70,1) 100%);
        z-index: 20;
        padding: 75px;
        transform: translateX(100%);
        transition: 0.4s;
    }
    .header-menu-active{
        transform: translateX(0);
    }

    .header_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;

    }
    .header_item:last-child{
        margin-bottom: 0;
    }

    .header_link{
        font-size: 40px;
        line-height: 48px;
    }

    .header-menu-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50px;
        right: 180px;
        z-index: 21;

    }

    .menu-close{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
        position: absolute;
        text: 50%;

    }
    .menu-close:first-child{
        transform: translateY(-50%) rotate(45deg);
    }

    .menu-close:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }



    .benefits-icon{
        grid-column: span 3;
    }
}
